/* Top Header */
.top-header {
    height: 50px;
    background: linear-gradient(to right, #2b0000, #000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.auth-btn {
    background: #6b6b6b;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Main Header */
.main-header {
    height: 80px;
    background: #3a3a3a;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 30px;
}

/* Logo */
.logo {
    border: 2px solid #fff;
    border-radius: 10px;
    color: #ffb3b3;
    padding: 5px 20px;
    font-size: 22px;
    font-weight: bold;
}

/* Navigation */
.nav-links {
    display: flex;
    gap: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.category-sec,
.brand-sec {
    position: relative;
}

.category-sec span,
.brand-sec span {
    display: inline-flex;
    align-items: center;
    padding: 10px 0;
}

.category-sec:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.brand-sec:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.nav-links i {
    margin-left: 6px;
    font-size: 12px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

}

.nav-links i:hover {
    color: #ffb3b3;
    transform: rotate(180deg);
}


.menu-bar {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: relative;
    display: inline-block;

}

.menu-bar i {
    font-size: 22px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-bar i:hover {
    color: #ffb3b3;
    transform: rotate(180deg);
}


.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    min-width: 160px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.25s ease;
    z-index: 999;
}

.category-sec .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    min-width: 240px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.25s ease;
    z-index: 999;
}


.dropdown li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: #333;
    font-size: 16px;

}

.dropdown li a:hover {
    background: #f2f2f2;
}

.menu-bar:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


/* Search Bar */
.search-bar {
    flex: 1;
    background: #9a9a9a;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 4px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    margin: 0 10px;
    color: #fff;
    font-size: 15px;
}

.search-bar input::placeholder {
    color: #eee;
}

.search-bar i {
    color: #fff;
    font-size: 18px;
}

/* Icons */
.header-icons {
    display: flex;
    gap: 25px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


// mega-dropdown

.mega-dropdown {
    position: absolute;
    top: 0%;
    left: 100px;
    width: 80vw;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px 60px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 9999;
}

.kids-wear-dropdown:hover .mega-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.column h4 {
    color: #ff3f6c;
    font-size: 14px;
    margin: 0 0 12px;
}

.column a {
    display: block;
    color: #333;
    font-size: 14px;
    margin-bottom: 8px;
    text-decoration: none;
}

.column a:hover {
    color: #ff3f6c;
}