*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullpage-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.content-sec{
    flex: 1;
    padding: 20px;
}
.footer {
    height: 60px;
    background: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}