<header class="main-header">

    <div class="menu-bar">
        <i class="fa-solid fa-bars"></i>
        <ul class="dropdown">
            <li class="menu-item">
                <a href="#">Men Wear</a>

                <div class="mega-dropdown">

                    @for (col of menMegaMenu; track col.column) {
                    <div class="column">

                        @for (section of col.sections; track section.title) {
                        <h4>{{ section.title }}</h4>

                        @for (item of section.items; track item) {
                        <a href="#">{{ item }}</a>
                        }
                        }

                    </div>
                    }

                </div>
            </li>

            <li class="menu-item">
                <a href="#">Women Wear</a>
            </li>

            <li class="menu-item">
                <a href="#">Kids Wear</a>
            </li>

            <li class="menu-item">
                <a href="#">Winter Wear</a>
            </li>

            <li class="menu-item">
                <a href="#">Lounge Wear</a>
            </li>

            <li class="menu-item">
                <a href="#">Sleep Wear</a>
            </li>

            <li class="menu-item">
                <a href="#">Western Wear</a>
            </li>

            <li class="menu-item">
                <a href="#">Bottom Wear</a>
            </li>
        </ul>
    </div>
    <!-- Category & Brands -->

    <nav class="nav-links">
        <span>Category <i class="fa-solid fa-chevron-down"></i></span>
        <span>Brands <i class="fa-solid fa-chevron-down"></i></span>
    </nav>

    <!-- Search Bar -->
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search for category">
        <i class="fa-solid fa-microphone"></i>
    </div>

    <!-- Icons -->
    <div class="header-icons">
        <i class="fa-regular fa-heart"></i>
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-user"></i>
    </div>

</header>