.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;


}

.login-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

}

.login-container .page-content {
    width: 350px;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
}

.page-content .input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    color: #555;
}

.input-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.input-box i {
    color: #aaa;
    margin-right: 10px;
    font-size: 16px;
}

.input-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    border-radius: 50px;
    padding: 5px 10px;
}

.forgot {
    text-align: right;
    margin-bottom: 20px;
}

.forgot a {
    font-size: 12px;
    color: #888;
    text-decoration: none;
}
.buttons {
    display: flex;
    gap: 10px;
}

.login-btn, .reset-btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #36d1dc, #5b86e5, #ff6fd8);
    // background: #9a9a9a;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-btn:hover {
    opacity: 0.9;
}

.or {
    text-align: center;
    font-size: 13px;
    color: #888;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.facebook {
    background: #3b5998;
}

.twitter {
    background: #1da1f2;
}

.google {
    background: #db4437;
}

.signup-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #555;
    text-decoration: none;

}

.signup-link span {
    color: blue;
    cursor: pointer;
}